@import url(_reset.css);
@import url(_variaveis.css);

body {
	background-color: var(--cor-secundaria);
	color: var(--cor-contraste-escuro);
	font-family: var(--fonte-familia-corpo);
	overflow-x: hidden;
}

.container { 
	padding-right: 1rem;
	padding-left: 1rem;
}

.flex {
	display: flex;
}

.flex--centro {
	align-items: center;
	justify-content: center;
}

.flex--coluna {
	flex-direction: column;
}

@media(min-width: 800px) {
  .container {
		padding-right: 2.5rem;
		padding-left: 2.5rem;	
	}
}

@media(min-width: 1200px) {
	.container {
		padding-left: calc((100vw - 900px)/2);
		padding-right: calc((100vw - 900px)/2);
	}
}
.cadastro-cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 1rem;
}

.cadastro-cabecalho__logo {
    width: 2.625rem;
    margin-bottom: 0.5rem;
}

.cadastro-cabecalho__titulo {
    font-family: var(--fonte-familia-logo);
    font-size: var(--fonte-tamanho-logo);
    margin-bottom: 1rem;
}

@media(min-width: 800px) {
    .cadastro-cabecalho__logo {
        width: 5.75rem;
        margin-bottom: 1rem;
    }

    .cadastro-cabecalho__titulo {
        margin-bottom: 2rem;
    }
}
.cartao {
    background-color: var(--cor-contraste-claro);
    border-radius: 10px;
    box-shadow: var(--sombra);
    width: 100%;
    max-width: 45rem;
    padding: 1.75rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.cartao__titulo {
    font-size: var(--fonte-tamanho-cartao-titulo);
    margin-bottom: 1rem;
}
.formulario {
    margin-top: 2rem;
}

.formulario__legenda {
    font-size: var(--fonte-tamanho-formulario-fieldset);

    margin-bottom: 1rem;
}

.input-container {
    font-weight: var(--fonte-peso-input);
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.input {
    box-sizing: border-box;
    border-bottom: 1px solid var(--cor-secundaria);
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
}

.input::placeholder {
    visibility: hidden;
    color: #00000000;
}

.input:focus {
    outline: none;
}

.input-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: var(--fonte-tamanho-input-label);

    transition: all .25s;
}

.input:not(:placeholder-shown) + .input-label, .input:focus + .input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all .25s;
}

.input-container--invalido {
    margin-bottom: 0.5rem;
}

.input-container--invalido .input {
    border: 1px solid var(--cor-aviso);
    border-radius: 7px;
}

.input-container--invalido .input-label {
    color: var(--cor-aviso);
}

.input-mensagem-erro {
    display: none;
}

.input-container--invalido .input-mensagem-erro {
    color: var(--cor-aviso);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.textarea {
    box-sizing: border-box;
    border: 1px solid var(--cor-secundaria);
    padding: 0.5rem;    
    border-radius: 7px;
    width: 100%;
    min-height: 3rem;
}

.textarea-container {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: var(--fonte-peso-input);
}

.textarea::placeholder {
    visibility: hidden;
}

.textarea:focus {
    outline: none;
}

.textarea-label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: var(--fonte-tamanho-input-label);
    transition: all 0.25s;
}

.textarea:not(:placeholder-shown) + .textarea-label, .textarea:focus + .textarea-label {
    font-size: 0.875rem;
    top: -1.25rem;
    transition: all 0.25s;
}

.textarea-container--invalido {
    margin-bottom: 0.5rem;
}

.textarea-container--invalido .textarea {
    border: 1px solid var(--cor-aviso);
}

.textarea-container--invalido .textarea-label {
    color: var(--cor-aviso);
}

.textarea-mensagem-erro {
    display: none;
}

.textarea-container--invalido .textarea-mensagem-erro {
    display: block;
    color: var(--cor-aviso);
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}
.botao {
    display: block;
    background-color: var(--cor-primaria);
    border-radius: 7px;
    width: 100%;
    margin-top: 1rem;
    max-width: 20rem;
    padding: 1.125rem;
    box-sizing: border-box;
    color: var(--cor-contraste-claro);
    font-size: var(--fonte-tamanho-botao);
    align-self: center;
    text-align: center;
}

.botao-simples {
    border: none;
    background-color: unset;
}

.botao-simples--adicionar {
    color: var(--cor-primaria);
    background-color: var(--sombra);
}

.botao-simples--excluir {
    color: var(--cor-aviso);
}

.botao-simples--editar {
    color: var(--cor-sucesso);
}
